.card {
  display: flex;
  text-align: center;
}
.card > article:hover {
  transform: scale(
    1.1
  ); 
  cursor: pointer;
}
.card > article {
  background-color: #d12a2a;
  margin: 15px 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 250px;
  display: inline-block;
  text-align: center;
}

.card > article figure {
  margin-bottom: 8px;
}

.card > article figure img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  margin-top: 0px;
 
}

h3 {
  margin: 5px;
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
}
.desconto {
  display: flex;
  align-items: flex-start;
  width: 30px;
  padding: 3px;
  margin: 10px auto 10px 9px;
  background-color: black;
  color: white;
  border-radius: 5px;
 
  font-size: small;

}
